body {
    background-color: #d0a9e8;
    font-family: Calibri;
    margin: 0%;
}

main {
    width: 80%;
    padding-left: 10%;
}

div {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: justify;
    overflow: hidden;
}

h2 {
    margin-top: 5px;
}

.logo_kep {
   width: 100%;
}
.bal_kep {
    width: 20%;
    float: left;
    padding: 10px;
}

.jobb_kep {
    width: 20%;
    float: right;
    padding: 10px;
}
